@import "tailwindcss";

@layer base {
    body {
        display: flex;
        place-items: center;
        min-height: 100vh;
        background: oklch(96.7% 0.067 122.328);
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }
}

@layer components {
    a {
        @apply font-semibold text-lime-900 underline hover:text-lime-950 hover:no-underline
    }

    .input-primary {
        @apply w-full rounded-md px-3 py-1.5 text-base outline-1 outline-gray-700 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-lime-900 sm:text-sm/6
    }

    .btn-primary {
        @apply w-full text-white p-3 font-semibold bg-lime-900 hover:bg-lime-950 rounded-xl hover:cursor-pointer
    }

    [class^=btn] {
        @apply focus:outline-none
    }
}
