.wrap {
    width: 100%;
    height: 100%;
    padding: 3rem 5rem;
    display: flex;
    gap: 30px;
    /*grid-template-areas: "tools field field field";*/
}

.tools {
    /*grid-area: tools;*/
    width: 25%;
}

.cube {
    margin: 20px 0 40px;
    display: flex;
    justify-content: center;
}

.board {
    /*grid-area: field;*/
    flex-grow: 1;
    position: relative;
    background: url("./assets/board.jpg") no-repeat right top;
    background-size: contain;
    position: relative;
}

.cards {
    width: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}