@import "tailwindcss";
@plugin "daisyui" {
    themes: lemonade;
}

@layer base {
    body {
        display: flex;
        place-items: center;
        min-height: 100vh;
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    a {
        text-decoration: underline;
        font-weight: 600;
    }
}
