@import "tailwindcss";

@plugin "daisyui" {
    themes: lemonade;
}

@layer base {
    body {
        min-height: 100vh;
    }

    h1 {
        font-size: 3.2em;
        line-height: 1.1;
    }

    a:not([role=button]) {
        text-decoration: underline;
        font-weight: 600;
    }

    p {
        margin-bottom: 1rem;
    }

    .navbar a,
    .breadcrumbs a {
        text-decoration: none;
    }
}
